          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
                {%- assign news = site.news | reverse -%}
                {%- assign news_size = news | size -%}

                <table class="table table-sm table-borderless">
                  <!-- 최근 6개 -->
                  {% for item in news limit: 3 %}
                    <tr>
                      <th scope="row" style="width:10%">{{ item.date | date: "%b %Y" }}</th>
                      <td>
                        {% if item.inline -%}
                          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                        {%- else -%}
                          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                        {%- endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </table>

                {% if news_size > 3 %}
                  <details class="news-more">
                    <summary>More news</summary>

                    <table class="table table-sm table-borderless" style="margin-top: 8px;">
                      {% for item in news offset: 6 %}
                        <tr>
                          <th scope="row" style="width:10%">{{ item.date | date: "%b %Y" }}</th>
                          <td>
                            {% if item.inline -%}
                              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                            {%- else -%}
                              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                            {%- endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  </details>
                {% endif %}
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
