<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Students</title>
  <style>
      .profiles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
      }

      .person {
        text-align: center;
      }

      .person img {
        width: 100%;
        height: auto;
      }

      .person p {
        margin-bottom: 0rem;
      }
      @media (max-width: 500px) {
        .profiles {
          grid-template-columns: 1fr;
        }
      }
  </style>
</head>

<body>
  <div class="profiles" style="padding-top: .6rem;">
    <div class="person">
      <img style="border-radius: .25rem" src="assets/img/non-profile.png"/>
      <p style="text-align: center; margin-top: 0.5rem;"><strong>Atika Rahman Paddo</strong></p>
      <p style="text-align: center;">Ph.D. Student</p>
    </div>

    <div class="person">
      <img  style="border-radius: .25rem" src="assets/img/anudeep.jpg"/>
      <p style="text-align: center; margin-top: 0.5rem;"><a herf="https://anudeeperrabelly.com/" style="color:#Fe5c00;"><strong>Anudeep Errabelly</strong></a></p>
      <p style="text-align: center;">Ph.D. Student</p>
    </div>
    
    <div class="person">
      <img style="border-radius: .25rem" src="assets/img/non-profile.png"/>
      <p style="text-align: center; margin-top: 0.5rem;"><strong>Aramaea Sewell</strong></p>
      <p style="text-align: center;">B.S. Student</p>
    </div>
    
    <!-- 카드 더 추가하면 자동으로 3개씩 줄로 배치됨 -->
    
  </div>
</body>
</html>
