<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Students</title>
  <style>
      .profiles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
      }

      .person {
        text-align: center;
      }

      .person img {
        width: 100%;
        height: auto;
      }

      .person p {
        margin: 6px 0 0;
      }
      @media (max-width: 500px) {
        .profiles {
          grid-template-columns: 1fr;
        }
      }
  </style>
</head>

<body>
  <div class="profiles">
    <div class="person">
      <img src="assets/img/non-profile.jpeg"/>
      <p style="text-algin: center;">Atika Rahman Paddo</p>
    </div>

    <div class="person">
      <img src="assets/img/non-profile.jpeg"/>
      <p style="text-algin: center;">Anudeep Errabelly</p>
    </div>
    
    <!-- 카드 더 추가하면 자동으로 3개씩 줄로 배치됨 -->
    
  </div>
</body>
</html>
